body {
    background-color: #000;
    font-family: 'Noto Sans Mono', sans-serif
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 20px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto
}